@charset "utf-8";
/* Resetear los estilos manteniendo lo util*/
html, body, form, fieldset {margin: 0; padding: 0; font: 100% Verdana, Arial, Helvetica, sans-serif;}
h1, h2, h3, h4, h5, h6, p, pre, blockquote, ul, ol, dl, address {margin: 1em 0; padding: 0;}
li, dd, blockquote {margin-left: 1em;}
form label { cursor: pointer;}
fieldset { border: none;}
input, select, textarea { font-size: 100%; font-family: inherit;}

body{background-color:#CCC;}

.contenedor{
    width:98%;
    max-width:1200px;
    min-width:600px;
    margin:0 auto;
    font-size:100%;
}

.cabecera{
    width:98%;
    max-width:1200px;
    min-width:600px;
    margin-top:15px;
    clear:both;
    background-color:#FFF;
    border-top-left-radius: 10px; /*CSS3*/
    border-top-right-radius: 10px; /*CSS3*/
    border-bottom-left-radius: 25px; /*CSS3*/
    border-bottom-right-radius: 25px; /*CSS3*/
    box-shadow:6px 6px 8px #999; /*CSS3*/
    font-size: 130%;
    font-weight:800;
    color:#003;
}

.estado{
    width:98%;
    max-width:1200px;
    min-width:600px;
    padding: .1% 0;
    clear:both;
    text-align:right;
    height:1.3em;
}

.estado label{
    margin:0;
    padding:0;
    color:#003;
    font-size:medium;
    margin-right:8px;
    text-shadow:#FFF;
}

.contenido{
    width:98%;
    max-width:1200px;
    min-width:600px;
    min-height:500px;
    overflow:auto;
    clear:both;
    background-color:#FFF;
    border:thin #999 solid;
    border-top-left-radius: 10px; /*CSS3*/
    border-top-right-radius: 10px; /*CSS3*/
    border-bottom-left-radius: 10px; /*CSS3*/
    border-bottom-right-radius: 10px; /*CSS3*/
    box-shadow:6px 6px 8px #999; /*CSS3*/
}

.pie{
    width:98%;
    max-width:1200px;
    min-width:600px;
    overflow:hidden; /*Agranda junto a los elementos flotantes interiores*/
    margin:1.5% 0;
    clear:both;
    background-color:#FFF;
    border:thin #999 solid;
    border-bottom-left-radius: 10px; /*CSS3*/
    border-bottom-right-radius: 10px; /*CSS3*/
    box-shadow:6px 6px 8px #999;
}

.rootmenu{
    border:0;
    height:155px;
    text-align:center;
}

.rootmenu a{
    display:block;
    text-decoration:none;
    height:100%;
}

.rootmenu ul{
    margin:auto;
    padding:0;
    width:700px;
    height:100%;
}

.rootmenu ul,li{
    list-style:none;}

.rootmenu li{
    float:left;
    width:160px;
    height:100%;
    position:relative;
    margin-left:55px;
    opacity: .55;
}

.submenu{
    height:35px;
    padding: .1%;
    background-color: #000;
    opacity: .75;
    border-bottom-left-radius: 25px; /*CSS3*/
    border-bottom-right-radius: 25px; /*CSS3*/
}

.nav{
    background-color:transparent;
    height:40px;
    clear:both;
    padding:0;
    margin:0;
}

.nav li a{
    text-decoration:none;
    display:block;
    color:#FFF;
    height:100%;
}

.nav ul{
    margin:0;
    float:left;
    padding:0;
    width:750px;
    height:100%;
}

.nav ul li{
    float:left;
    position:relative;
    height:25px;
    background-color: transparent;
    padding-top:0px;
    text-align:center;
}

.nav ul li a:hover, .nav ul li a:active{
    color:#C90;
}
.nav ul li a:active{
    border:none;
}

.nav ul,li{
    list-style:none;
    height:100%;
}

.izq{
    float: left;
    z-index:0;
    padding:3%;
    width:68%;
    text-align:center;
    color: #696969;
    font-size:11px;
}

.derch{
    z-index:1;
    float:right;
    width:20%;
    padding:3%;
}
/*



.entradamenu a{
    padding-top:7px;
    padding-bottom:7px;
}

.entradamenuL a{
    padding-top:1px;
    padding-bottom:13px;
}

.entradamenuL{
    margin:0;
    margin-left:10px;
    color:#FFF;
    width:95px;
    margin-top:0px;
}


.entradamenu{
    margin:0;
    margin-left:10px;
    color:#FFF;
    width:95px;
    margin-top:0px;
}


.titulomenu{
    color:#CCC;
    margin-right:30px;
    width:90px;
    border-right: #666 solid thin;
    margin-top:7px;
}



#iNoticia{
    background-image:url(../images/1289135535_Location%20News.png);
    background-repeat:no-repeat;
    background-position:center;
}

#iCategoria{
    background-image:url(../images/1289135802_Library.png);
    background-repeat:no-repeat;
    background-position:center;
}

#iBluetooth{
    background-image:url(../images/bluetooth.png);
    background-repeat:no-repeat;
    background-position:center;
}

#loading{
    margin-top:200px;
    text-align:center;
    width:100%;
}


#mensaje{
    display:none;
}


.linea{
    clear:both;
}




#cerrarSesion{
    text-decoration:none;
    margin-left:30px;	
}

#info{
    padding:50px;
    clear:both;
}

.tabla{
    margin-left:40px;
    margin-right:40px;
    margin-bottom: 40px;
    margin-top:20px;
    background-color: #E0E7FC;	
    border-top-left-radius: 10px;
    border-top-right-radius: 10px 10px;
    box-shadow:2px 2px 1px #999;
    padding-left:30px;
    padding-right:30px;
    padding-top:20px;
    padding-bottom:20px;
}

.filas{
    font-weight:700;	
}


.fila0{
    padding-left:30px;
    padding:10px;
    background-color: #F2F2F2;
    margin-top:2px;
}
.fila1{
    padding-left:30px;
    padding:10px;
    background-color: #FFFFC4;	
    margin-top:2px;
}

.titulo{
    margin-left:40px;	
}

.titform{
    margin-left:70px;
    margin-top:0px;
    margin-bottom:40px;
    border-left:solid #666 medium;
    border-bottom:solid #666 medium;
    margin-right:75px;
    height:40px;
    padding-left: 20px;
    padding-top: 12px;
    color:#666;
    font-size: 28px;
    font-weight: 500;
    font-family: "Berlin Sans FB"; 
    border-bottom-left-radius: 10px;
}*/